body {

background-image: url('https://images7.alphacoders.com/510/510970.jpg');
background-size: cover;
background-position: fixed;
background-color: #4f4444
background-repeat: no-repeat;
}

.col-md-9.col-xs-12 {
background: #4f4444 !important;
border: 1px solid #000000 !important;
opacity: 1.00;
}

div.container.main {
background: #4f4444 !important;
border: 1px solid #000000 !important;
opacity: 0.75;
}

