<style>
 body {

background-image: url('https://images7.alphacoders.com/510/510970.jpg');
background-size: cover;
background-position: fixed;
background-color: #4f4444
background-repeat: no-repeat;
}
